
.stade{
    background-image: url(../images/stadium-background.png);
    background-repeat: no-repeat;
    background-size: contain;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Cart du Joueur*/

.fut-player-card {
    position: relative;
    width: 180px; 
    height: 260px; 
    background-image: url(https://yourfutcard.com/cdn/shop/files/yourfutcard-a5-14-8cm-x-21cm-inform-gold-rare-fut-24-42488050155799_1024x1024.png?v=1729485458);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1rem 0;  
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0.9rem 1.9rem;  
}

.fut-player-card .player-card-top .player-master-info {
    position: absolute;
    line-height: 1.2rem;  
    font-weight: 300;
    padding: 1.5rem 0; 
    text-transform: uppercase;
}

.fut-player-card .player-card-top .player-master-info .player-rating {
    font-size: 1.2rem; 
}

.fut-player-card .player-card-top .player-master-info .player-position {
    font-size: 0.9rem; 
}

.fut-player-card .player-card-top .player-master-info .player-nation {
    display: block;
    width: 1rem;  
    height: 12px;  
    margin: 0.15rem 0;
}

.fut-player-card .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card .player-card-top .player-master-info .player-club {
    display: block;
    width: 1rem;  
    height: 20px; 
}

.fut-player-card .player-card-top .player-master-info .player-club img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card .player-card-top .player-picture {
    width: 70px;  
    height: 70px;  
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 15px;  
}

.fut-player-card .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -0.8rem;  
}

.fut-player-card .player-card-bottom {
    position: relative;
}

.fut-player-card .player-card-bottom .player-info {
    display: block;
    padding: 0.5rem 0;  
    color: #e9cc74;
    width: 60%;  
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}


.fut-player-card:hover {
    transform: scale(1.05);
}


.fut-player-card .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.9rem;  
    text-transform: uppercase;
    border-bottom: 2px solid rgba(233, 204, 116, 0.1);
    padding-bottom: 0.15rem;
    overflow: hidden;
}

.fut-player-card .player-card-bottom .player-info .player-name span {
    display: block;
    text-shadow: 2px 2px #111;
}


.fut-player-card .player-card-bottom .player-info .player-features {
    margin: 0.2rem auto;  
    display: flex;
    justify-content: center;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0.3rem 0.8rem; 
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 0.7rem; 
    text-transform: uppercase;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col .player-feature-value {
    margin-right: 0.1rem;
    font-weight: 700;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col .player-feature-title {
    font-weight: 300;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}









/* Caroussel des Images / des Logos / des Drapeaux*/

.image-slider {
    position: relative;
    overflow: hidden;
}

.slider-container {
    display: flex;
    gap: 1rem;
    transition: transform 0.3s ease;
}

.slider-image {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.slider-image:hover {
    transform: scale(1.1);
}


.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: -2rem;
}

.next {
    right: -12rem;
}

